h1{
    color: black; 
 }

 .header{
    background-color: red;
    display: flex;
    justify-content: space-between;
 }

.content_1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.content_2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.content_3{
    text-align: center;
}